.hero-heading-right {
    position: relative;
    padding: 80px 30px;
    border-bottom: 1px solid #e4ebf3;
    background-color: #f5f7fa;
}

.container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

.intro-wrap {
    margin-top: 100px;
    margin-bottom: 140px;
}

.name-text {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

.paragraph-light {
    opacity: 0.6;
}

.heading-jumbo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
    text-transform: none;
    font-family: "Montserrat, sans-serif";
    font-weight: 400;
}

.section {
    margin-right: 30px;
    margin-left: 30px;
}

.hero-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    border-style: solid;
    margin-top: 10px;
}

.hero-split {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 10px;
}

.shadow-two {
    box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.button-primary {
    padding: 12px 25px;
    background-color: #1a1b1f;
    transition: all 200ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.button-primary:hover {
    background-color: #32343a;
    color: #fff;
}

.button-primary:active {
    background-color: #43464d;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 728px;
    }

    .hero-wrapper {
        margin-bottom: -40px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
    }

    .hero-split {
        max-width: 100%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .hero-heading-right {
        padding: 60px 15px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: none;
    }
}

.circular-loader {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 40%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 40%;
}

.loader-path {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes color {
    0% {
        stroke: #000000;
    }

    40% {
        stroke: #000000;
    }

    66% {
        stroke: #000000;
    }

    80%,
    90% {
        stroke: #000000;
    }
}